:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --text-link: var(--secondary);

/*  --header-height: 3.5rem;*/
  --max-width-page: 2460px;
}

/*@media (orientation: landscape) {
  :root {
    --header-height: 3.5rem;
  }
}

@screen md {
  :root {
    --header-height: 3.5rem;
  }
}*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  @apply font-sans;

  font-kerning: none;
  font-feature-settings: 'case' on, 'liga' off;
  //text-overflow: ellipsis;

  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
  color: var(--primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  margin: 0 auto !important;
  max-width: var(--max-width-page);
}

main {
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  color: var(--secondary);
  background: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;

  font-weight: 400;
  line-height: 1;
}

.p-container {
  @apply p-4;

  @screen lg {
    @apply p-16;
  }
}

.thinner {
  -webkit-text-stroke: 0.025em var(--secondary);
  /*-webkit-text-fill-color: var(--primary);*/
}
