:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --tertiary: #76D672;

/*  --header-height: 3.5rem;*/
  --max-width-page: 2460px;

  --common-height-lg: 2.6rem;
  --common-height-xs: 1.9rem;
}

/*@media (orientation: landscape) {
  :root {
    --header-height: 3.5rem;
  }
}

@screen md {
  :root {
    --header-height: 3.5rem;
  }
}*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  @apply font-sans;

  font-kerning: none;
  font-feature-settings: 'case' on, 'liga' off;

  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
  color: var(--primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  margin: 0 auto !important;
  max-width: var(--max-width-page);
}

main {
}

/*
@screen -lg {
  .primary, .secondary {
    @supports (-webkit-text-stroke: 0.025em var(--secondary)) {
      mix-blend-mode: multiply;
    }
  }
}
*/

.primary, .secondary {
    mix-blend-mode: multiply;
}


a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  color: var(--secondary);
  background: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-normal leading-none;
}

.thinner {
  -webkit-text-stroke: 0.025em var(--secondary);
  /*-webkit-text-fill-color: var(--primary);*/
}

.p-common {
  @apply p-8;

  @screen lg {
    @apply p-16;
  }
}

.py-common {
  @apply py-8;

  @screen lg {
    @apply py-16;
  }
}

.px-common {
  @apply px-8;

  @screen lg {
    @apply px-16;
  }
}

.pb-common {
  @apply pb-8;

  @screen lg {
    @apply pb-16;
  }
}

.pt-common {
  @apply pt-8;

  @screen lg {
    @apply pt-16;
  }
}

.-lg\:-mx-common {
  @screen -lg {
    @apply -mx-8;
  }
}

.-lg\:full-w-common {
  @screen -lg {
    @apply !w-[calc(100%+4rem)] !-mx-8;
  }
}

.h-common {
  @apply h-[var(--common-height-xs)];
  @screen lg {
    @apply h-[var(--common-height-lg)];
  }
}
/*

input:-internal-autofill-selected {
    background-color: red !important;
}
*/
